//$cWhite: #FFFFFF;
//$cBlack: #171717;
//$cGray:  #F5F5F5;
//$cDarkGray: #3a3a3a;
//$cLightGray: #606060;
//
//$cLight: #37953D;
//$cDark: #3c7141;
//$cSnow:  #FFFBFF;
//
//
//
//$cPurple: rgb(53, 34, 97);

$cWhite: #FFFFFF;
$cBlack: #171717;
$cGray:  #F5F5F5;
$cDarkGray: #3a3a3a;
$cLightGray: #606060;



$cGreenContrast:  #FFFBFF;


$cGreenCold: #009651;
$cGreenLight: #91BD55;

$cPurpleDark:  rgb(53, 34, 97);

.tabBarColor {
  color: $cGreenLight;
}