@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i59xp9');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i59xp9#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i59xp9') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i59xp9') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i59xp9##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drag {
  &:before {
    content: $icon-drag; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-streetsign {
  &:before {
    content: $icon-streetsign; 
  }
}
.icon-gears {
  &:before {
    content: $icon-gears; 
  }
}
.icon-tools {
  &:before {
    content: $icon-tools; 
  }
}
.icon-dial {
  &:before {
    content: $icon-dial; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-find {
  &:before {
    content: $icon-find; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-sliders {
  &:before {
    content: $icon-sliders; 
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out; 
  }
}
.icon-send {
  &:before {
    content: $icon-send; 
  }
}
.icon-village {
  &:before {
    content: $icon-village; 
  }
}
.icon-off-road {
  &:before {
    content: $icon-off-road; 
  }
}
.icon-nature {
  &:before {
    content: $icon-nature; 
  }
}
.icon-desert {
  &:before {
    content: $icon-desert; 
  }
}
.icon-city {
  &:before {
    content: $icon-city; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat; 
  }
}
.icon-square {
  &:before {
    content: $icon-square; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-create {
  &:before {
    content: $icon-create; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}

