@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i59xp9');
  src:  url('fonts/icomoon.eot?i59xp9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i59xp9') format('truetype'),
    url('fonts/icomoon.woff?i59xp9') format('woff'),
    url('fonts/icomoon.svg?i59xp9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drag:before {
  content: "\e916";
}
.icon-map:before {
  content: "\e025";
}
.icon-streetsign:before {
  content: "\e029";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-tools:before {
  content: "\e034";
}
.icon-dial:before {
  content: "\e048";
}
.icon-chat:before {
  content: "\e900";
}
.icon-hamburger:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-pin:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-users:before {
  content: "\e906";
}
.icon-bell:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-find:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-sliders:before {
  content: "\e90b";
}
.icon-map-pin:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90d";
}
.icon-log-out:before {
  content: "\e90e";
}
.icon-send:before {
  content: "\e90f";
}
.icon-village:before {
  content: "\e910";
}
.icon-off-road:before {
  content: "\e911";
}
.icon-nature:before {
  content: "\e912";
}
.icon-desert:before {
  content: "\e913";
}
.icon-city:before {
  content: "\e914";
}
.icon-image:before {
  content: "\e917";
}
.icon-repeat:before {
  content: "\e918";
}
.icon-square:before {
  content: "\e919";
}
.icon-x:before {
  content: "\e91a";
}
.icon-trash:before {
  content: "\e91b";
}
.icon-create:before {
  content: "\e915";
}
.icon-plus:before {
  content: "\e91c";
}
