.badge{
  justify-content:center;
  align-items:center;
  width:15px;
  height:15px;
  border-radius:10px;
  position:absolute;
  top:-5px;
  right:-5px;
  aspect-ratio:1;
  background-color:red;
  &__text{
    font-size:10px;
    color:white
  }
}