@import '../settings/colors';

.tabs {
  //position: relative;
  height: 100%;
  width: 50%;
  justify-content: flex-start;
  padding-top: 5px;
  align-items: center;
  background-color: $cGreenLight;
  &__wave {
    position: absolute;
    top: -15;
    height: 15px;
    width: 210%;
    &--active {
      width: 210%;
    }
    &__inner {
      height: 100%;
      width: 100%;
      background-color: $cGreenLight;
      &--active {
        background-color: transparent;
      }
    }
  }
}
