@import '../settings/colors.scss';
.card {
  box-sizing: border-box;
  min-height: 120px;
  min-width: 120px;
  margin-vertical: 10px;
  max-height: 135px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 1px 1px 0 #9a9a9a;
  shadow-radius: 1;
  elevation: 5;
  //shadow-color: #000;
  //shadow-offset: {
  //  height: -2;
  //  width: -20;
  //}
  //shadow-opacity: 0.5;
  align-self: flex-start;
  &__headerText {
    color: $cGreenCold;
    font-size: 15px;
  }
  &__headerIcon {
    color: white;
    padding-right: 5px;
  }
  &__body {
    padding-top: 15px;
    // background-color: red;
  }
}
