@import '../settings/colors';

.conversation {
  width:100%;
  padding:5px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 100px;
  &--active {
    background-color: #ddd;
  }

  &__right{
    width: 86%;
    padding-left:20px
  }
  &__image {
    //width: 50px;
    width: 14%;
    aspect-ratio: 1;
    border-radius: 100px;
  }

  &__name {
    font-size:15px;
  }

  &__message {
    width:100%;
    font-size: 13px;
    color: #646464;
  }
}
