.container {
  background-color: white;
  width: 95%;
  border-radius: 20px;
  padding-bottom: 20px;
}

.row-between {
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  height: 40px;
  &__button {
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
    &__apply {
      color: #4ea2de;
      font-size: 16px;
    }
    &__clear {
      color: #de794e;
      font-size: 16px;
    }
    &--disabled {
      color: #bbb;
    }
  }
}

.filter {
  &__title {
    padding-horizontal: 10px;
    font-size: 12px;
    color: #777;
    &--padding {
      padding-bottom: 10px;
    }
  }
  &__slider {
    margin-left: 30px;
  }
  &__options {
    max-height: 60px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
  }

  &__card {
    margin-left: 10px;
    min-height: 0;
    min-width: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.5;
    &--active {
      opacity: 1;
    }
    &__body {
      padding: 0;
    }
  }
}
