@import '../settings/colors';

.header {
  z-index: 10;
  &__inner {
    width: 100%;
    height: 60px;
    padding: 3%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &--floating {
      margin-horizontal: 3%;
      width: 94%;
      box-shadow: 0 0 #ccc;
      shadow-radius: 4;
      border-radius: 15px;
      background-color: white;
      position: absolute;
    }
  }

  &__button {
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    &Icon {
      color: $cGreenContrast;
      &--dark {
        color: $cDarkGray;
      }
    }
  }

  &__title {
    text-align: center;
    width: 80%;
    color: $cGreenContrast;
    font-size: 25px;
    text-transform: uppercase;
    &--dark {
      color: $cDarkGray;
    }
  }
}
