@import '../settings/colors';

.isLoading {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.28);
  justify-content: center;
  align-items: center;
}

@mixin commonLoader {
  border-radius: 30px;
  background-color: $cGreenCold;
}

.loader {
  //background-color: rgb(255, 255, 255);
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  height:20px;
  align-items: center;
  &__inner {
    @include commonLoader;

    height: 100%;
    aspect-ratio: 1;
  }
}
