.button {
  width: 100%;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px #676767;
  margin-bottom: 10px;
  elevation: 2;
  &__text {
    font-size: 15px;
  }
  &__icon {
    color: #525252;
  }
}
