@import '../settings/colors.scss';


.titleText{
  color: $cGreenContrast;
  font-weight: 500;
  text-transform: capitalize;
}

.container {
  flex: 1;
}

.gradient{
  color2: $cGreenLight;
  color1: $cGreenCold;
  //color1: whitesmoke;
  //color2: #473d8c;
}

.background{
  flex:1;
  &__image{
    justify-content: flex-end;
    position: absolute;
    bottom:-90%;
    resize-mode:contain;
  }
}
