@import '../settings/colors';
.whole {
  margin-horizontal:3%;
}
.search {
  width: 100%;
  height: 60px;
  padding-horizontal: 3%;
  margin-bottom: 15px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__left {
    flex-direction: row;
    align-items: center;
  }
  &__button {
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    &Icon {
      color: $cPurpleDark;
    }
  }

  &__input {
    width: 80%;
    font-family: Montserrat-Regular;
  }
  &__dismiss {
    width: 10%;
    color: #a4a4a4;
  }
}

.user {
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 100px;

  &__image {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 100px;
  }

  &__name {
    padding-left: 20px;
    font-size: 15px;
  }
}
