.loading {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-horizontal: 3%;
}

.image {
  resize-mode: contain;
}

.title {
  color: white;
  font-weight: 700;
  font-family: Montserrat-Regular;
  font-size: 25px;
}
