@import '../settings/colors.scss';

.card {
  box-sizing: border-box;
  width: 100%;
  margin-vertical: 5px;
  background-color: white;
  border-radius: 15px;
  //padding: 10px 20px;
  box-shadow: 1px 1px 0 #9a9a9a;
  shadow-radius: 1;
  justify-content: flex-start;
  elevation: 5;
  align-items: flex-start;
}
.column {
}
.firstRow {
  padding: 10px 20px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  &__mainText {
    color: $cGreenLight;
    font-size: 1.2rem;
  }

  &__subText {
    font-size: 13px;
  }
}

.secondRow {
  padding: 0 20px 20px 20px;
  flex-direction: row;
  align-items: center;
  &__label {
    width: 100px;
  }
  &__label,
  &__value {
    font-size: 13px;
  }
}

.map {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 2;
  box-sizing: border-box;
  &__line {
    line-color: $cPurpleDark;
    line-width: 4px;
  }
  &__point {
    height: 15px;
    width: 15px;
    background-color: $cGreenLight;
    border-radius: 50px;
    border: 2px solid #fff;
  }
}
