@import '../settings/colors';

.post {
  width: 100%;
  padding-vertical: 20px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.top {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.user {
  padding-horizontal: 20px;
  flex-direction: row;
  &__image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  &__info {
    justify-content: space-evenly;
    &__text {
      font-size: 15px;
    }
    &__date {
      color: $cLightGray;
      font-size: 11px;
    }
  }
}
.chat {
  padding-right: 20px;
  &__icon {
    color: $cGreenLight;
  }
}
.stats {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  &__line {
    width: 1px;
    background-color: $cLightGray;
  }
  &__text {
    padding-vertical: 10px;
    text-align: center;
    flex: 1;
  }
}

.map {
  margin-vertical: 10px;
  width: 100%;
  aspect-ratio: 2;
  &__line {
    line-color: $cPurpleDark;
    line-width: 4px;
  }
  &__point {
    height: 15px;
    width: 15px;
    background-color: $cGreenLight;
    border-radius: 50px;
    border: 2px solid #fff;
  }
}
