@import '../settings/colors';

.push {
  width: 100%;
  padding: 10px;
  position: absolute;
  &__inner {
    flex-direction: row;
    width: 100%;
    background-color: white;
    max-height: 200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    &__1 {
      width: 80%;
    }
    &__2 {
      justify-content: flex-start;
      align-items: flex-end;
      width: 20%;
    }
  }
  &__sender {
    margin-bottom: 5px;
  }

  &__message {
  }

  &__dismiss {
    &Icon {
      color: $cPurpleDark;
    }
  }
}
