@import '../settings/colors';

.search {
  padding: 20px 20px 20px 5px;
  margin-bottom: 15px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__input {
    padding: 0;
    font-family: Montserrat-Regular;
  }
  &__dismiss {
    color: #a4a4a4;
  }
}

.floating {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: $cPurpleDark;
  padding-bottom: 2px;
  align-items: center;
  justify-content: center;
  &__icon {
    color: white;
  }
}
