@import '../settings/colors.scss';

@mixin sign() {
  align-self: flex-end;
  width: 100%;
  justify-content: flex-end;
  background-color: whitesmoke;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 5px 15px #5a5a5a;
}

.switch_colors {
  false: #767577;
  true: $cPurpleDark;
}

.terms_text {
  color: $cGreenCold;
}
.sign-in {
  @include sign();

  height: 65%;
}
.sign-up {
  @include sign();

  height: 70%;
}

.container {
  flex-grow: 1;
  align-items: center;
  margin-top: 10%;
  padding-horizontal: 5%;
  justify-content: space-between;
  &__buttons {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.inputs {
  width: 100%;
}
.input_around {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3%;
  border-width: 1px;
  border-radius: 30px;
  border-color: #868686;
  &__text {
    width: 80%;
    padding-horizontal: 10px;
    padding-vertical: 15px;
  }
  &_focus {
    border-color: $cGreenLight;
  }
}


.button {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  &__sign_in {
    border: 1px solid $cGreenLight;
    background-color: $cGreenLight;
    &__text {
      font-size: 20px;
      color: white;
    }
  }

  &__sign_up {
    &__text {
      color: $cGreenCold;
    }
  }
}
.or {
  position: relative;
  background-color: black;
  margin-vertical: 10%;
  height: 1px;
  width: 60%;
  align-items: center;
  &__text {
    position: absolute;
    top: -15px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 50%;
    background-color: whitesmoke;
  }
}
.buttons-group {
  width: 100%;
  height: 20%;
  flex-direction: row;
  justify-content: center;
  &__button {
    width: 10%;
    height: 100%;
    margin-horizontal: 5%;
    &__icon {
      width: 100%;
      height: 100%;
    }
  }
}

.background {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  &__image {
    margin-top: 14%;
    height: 32%;
    &--sign-up {
      margin-top: 14%;
      height: 32%;
    }
  }
}
