@import '../settings/colors.scss';

.imageCircle {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.badge {
  position: absolute;
  top: 2px;
  right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: red;
}

.chart{
  width:94%;
  border-radius:20px;
  margin-horizontal: 3%;
  margin-vertical: 10px;
  box-shadow: 1px 1px 0 #9a9a9a;
  shadow-radius: 1;
  elevation: 5;
  &__main{
    color: $cPurpleDark;
  }
  &__stroke{
    color: $cGreenCold;
  }
}