@import '../settings/colors';

.myview {
  //margin-bottom: 2%;
}

.map {
  &__line {
    line-color: $cPurpleDark;
    line-width: 4px;
  }
  &__point {
    height: 15px;
    width: 15px;
    background-color: $cGreenLight;
    border-radius: 50px;
    border: 2px solid #fff;
    align-items: center;
  }
}

.draggable {
  &__container {
    position: absolute;
    top: 0;
    width: 96%;
    border-radius: 30px;
    //border-top-left-radius: 30px;
    //border-top-right-radius: 30px;
    max-height: 100%;
    background-color: white;
    margin-horizontal: 2%;
    z-index: 100;
  }
  &__active {
    box-shadow: 1px 1px 0 #9a9a9a;
    shadow-radius: 1;
  }
  &__point {
    height: 50px;
    padding-horizontal: 5%;
    flex-direction: row;
    align-items: center;
    //justify-content: space-between;
    &__icon {
      color: gray;
      margin-right: 20px;
    }
  }
  &__floatingButton {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    box-shadow: 0 0 0 #9a9a9a;
    shadow-radius: 2;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    &__disabled {
      opacity: 0.5;
    }
    &__icon {
      color: $cPurpleDark;
    }
  }
}

.bottom {
  &__container {
    position: absolute;
    top: 0;
    width: 96%;
    border-radius: 30px;
    //border-top-left-radius: 30px;
    //border-top-right-radius: 30px;
    min-height: 100px;
    background-color: white;
    margin-horizontal: 2%;
    //padding: 2%;
    z-index: 100;
  }
  &__header {
    flex-direction: row;
    justify-content: space-between;
    padding-horizontal: 15px;
    margin: 2%;
    height: 84px;
    align-items: center;
    &__title {
      font-size: 25px;
      font-weight: 600;
    }
  }
  &__carousel {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 200px;
    width: 100%;
  }
  &__image {
    height: 200px;
    align-items: center;
    &__inner {
      width: 100%;
      height: 100%;
      resize-mode: cover;
    }
  }
  &__buttons {
    height: 85%;
    justify-content: space-between;
    //background-color:red;
  }
  &__close {
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 100px;
    padding: 5px;
  }
  &__add {
    background-color: rgba(0, 255, 0, 0.11);
    border-radius: 100px;
    padding: 5px;
  }
  &__remove {
    background-color: rgba(255, 0, 0, 0.11);
    border-radius: 100px;
    padding: 5px;
  }
}

.create {
  align-self: center;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 1%;
  background-color: $cPurpleDark;
  box-shadow: 0 0 0 #9a9a9a;
  shadow-radius: 2;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  &__icon {
    padding-right: 6px;
    padding-top: 5px;
    color: $cGreenLight;
    transform: rotate(-45deg);
  }
  &__disabled {
    opacity: 0;
  }
}
