@import '../settings/colors.scss';

.mainText {
  font-size: 30px;
  margin-bottom: 10%;
}

.textBlock {
  text-align: center;
  color: rgb(110, 110, 110);
  margin-bottom: 10%;

}


.container {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.link {
  color: $cPurpleDark;
}