@import '../settings/colors.scss';

.searchBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  background-color: white;
  margin-horizontal: 3%;
  margin-bottom: 10px;
  shadow-radius: 1;
  elevation: 5;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  padding-horizontal: 10px;

  &__text {
    width: 60%;
    padding-horizontal: 10px;
    padding-vertical: 10px;
    font-size: 20px;
  }
  &__buttons {
    flex-direction: row;
  }
  &__button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $cGreenLight;
    //padding-horizontal:10px;
    width: 30px;
    height: 30px;
    &--filter {
      margin-right: 10px;
      background-color: #ccc;
      &__icon{
        color: $cGreenLight;
      }
    }
    &--disabled {
      //background-color: #ccc;
    }
    &__text{
      color:white;
    }

    &__icon {
      color: white;
    }
  }
}

.topTypes {
  max-height: 60px;
  width:100%;
  padding-right: 3%;
  flex-direction: row;
  //background-color:red;

  &__card {
    margin-left: 10px;
    min-height: 0;
    min-width: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity:0.5;

    &--active {
     opacity:1;
    }

    &__body {
      padding: 0;
    }
  }
}

.results {
  padding-horizontal: 3%;
}
