@import '../settings/colors';

@mixin message {
  max-width: 70%;
  border-radius: 20px;
  margin-top: 10px;
  //min-height: 50px;
  padding-horizontal: 20px;
  padding-vertical: 10px;
}
.firstMessage{
  text-align: center;
  color: #969696;
}
.time {
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__line {
    height: 1px;
    background-color: #c5c5c5;
    flex: 1;
    margin-horizontal: 10px;
  }
  &__value {
    font-size: 10px;
    color: #969696;
    text-align: center;
  }
}

.title {
  text-transform: capitalize;
  color: $cBlack;
  font-size: 20px;
}
.container {
  flex-grow: 1;
}

.messageLeft {
  @include message;

  border-top-left-radius: 0;
  align-self: flex-start;
  background-color: rgba(40, 97, 34, 0.2);
}
.messageRight {
  @include message;

  border-top-right-radius: 0;
  align-self: flex-end;
  background-color: rgba(53, 34, 97, 0.2);
}

.flex1 {
  flex: 1;
}

.chat {
  flex: 1;
  justify-content: flex-start;
  margin: 3%;
  &__inputField {
    border-top-width: 1px;
    border-top-color: #e5e5e5;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__inputFieldText {
    padding:0;
    flex: 8;
    margin-horizontal: 10px;
    font-family: Montserrat-Regular;
  }

  &__button {
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  &__buttonLocationIcon {
    color: $cBlack;
  }

  &__buttonSendIcon {
    color: $cBlack;
  }
}
