@import '../settings/colors.scss';

.search {
  width: 100%;
  margin-horizontal: 2%;
  padding-vertical: 10px;
  border-bottom-width: 1px;
  border-color: $cGreenLight;
  &__text {
    font-size: 20px;
    width:80%;
    font-family: Montserrat-Regular;
  }
}
