@import '../settings/colors';

.input {
  align-self: center;
  border: 1px solid $cGreenLight;
  padding: 15px 20px;
  width: 94%;
  border-radius: 15px;
  font-size: 20px;
  margin-vertical: 20px;
}

.map {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 0.9;
  &__line {
    line-color: $cPurpleDark;
    line-width: 4px;
  }
  &__point {
    height: 15px;
    width: 15px;
    background-color: $cGreenLight;
    border-radius: 50px;
    border: 2px solid #fff;
    align-items: center;
  }
}

.publishBtn {
  margintop: 20px;
  width: 96%;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: $cPurpleDark;
  border-radius: 20px;
  padding: 20px;
  &__text {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.1px;
  }
}

.filter {
  &__title {
    padding-horizontal: 10px;
    font-size: 12px;
    color: #777;
    &--padding {
      padding-bottom: 10px;
    }
  }
  &__slider {
    margin-left: 30px;
  }
  &__options {
    max-height: 60px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
  }

  &__card {
    margin-left: 10px;
    min-height: 0;
    min-width: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.5;
    &--active {
      opacity: 1;
    }
    &__body {
      padding: 0;
    }
  }
}
