@import '../settings/colors';

.title_row{
  flex-direction: row;
  justify-content: center;
  margin-top:20px;
  &__text{
    font-size:24px;
    color: $cGreenLight;
    font-weight: 500;
  }
}

.map {
  border-radius: 15px;
  width: 100%;
  aspect-ratio:0.9;
  &__line {
    line-color: $cPurpleDark;
    line-width: 4px;
  }
  &__point {
    height: 15px;
    width: 15px;
    background-color: $cGreenLight;
    border-radius: 50px;
    border: 2px solid #fff;
    align-items: center;
  }
}