@import '../settings/colors.scss';
.user {
  align-items: center;
  &__image {
    position: relative;
    &Image {
      width: 40%;
      border-radius: 100px;
      aspect-ratio: 1;
    }

    &Button {
      position: absolute;
      padding: 10px;
      border-radius: 100px;
      bottom:0;
      right:0;
      border:3px whitesmoke;
      background-color: $cGreenLight;
      elevation: 5;
      &--icon{
        color:whitesmoke;
      }
    }
  }
  &__name{
    margin-top:25px;
    font-size:25px;
  }
}

.camera {
  flex: 1;
  margin: 3% 3% 7%;
  &__block {
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &View {
      width: 100%;
      height: 100%;
    }
  }
  &__dismiss {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
  }
  &__capture{
    position: absolute;
    bottom:20px;
    border-radius: 50px;
    width:70px;
    background-color: rgba(255, 255, 255, 0.47);
    height:70px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
  }

  &__library{
    position: absolute;
    bottom:40px;
    left:40px
  }

  &__swap{
    position: absolute;
    bottom:40px;
    right:40px
  }
}